body {
  font-family: Lexend;
  padding: 10px;
  line-height: 1.6;
  background-color: #121212; /* Dark background for modern look */
  color: #ffffff; /* White text for contrast */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333; /* Adds a subtle divider */
}
header h1 {
  font-size: 1.2em;
  margin: 0;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input {
  flex: 1;
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
  outline: none;
}
.search-bar input::placeholder {
  color: #aaa; /* Light gray placeholder text */
}
.search-bar input:focus {
  border-color: #555;
}
.link-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 10px;
  background-color: #222;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
.link-item a {
  color: #1e90ff;
  text-decoration: none; /* Removes underline from links */
  transition: color 0.3s;
}
.link-item a:hover {
  text-decoration: underline; /* Underline on hover */
  color: #00ced1; /* Changes color on hover for a nice effect */
}
.link-item .heart {
  cursor: pointer;
  color: #bbb;
  margin-left: 10px;
  transition: color 0.3s;
}
.link-item .heart:hover {
  color: #ff0000; /* Red color on hover */
}
.link-item .heart.active {
  color: #ff0000; /* Red color for active state */
}
@media (max-width: 600px) {
  body {
      padding: 5px;
  }
  header h1 {
      font-size: 1em;
  }
  .search-bar input {
      width: calc(100% - 20px); /* Full width on smaller screens */
  }
  .link-item {
      flex-direction: column;
  }
  .link-item a {
      margin-bottom: 5px;
  }
}